/*! Place your custom styles here */
.btn {
    font-family: 'Montserrat', sans-serif;
}

h1,h3,h4 {
    font-family: 'Montserrat', sans-serif;
}

h3,h4 {
    color: #fff;
}

footer {
    background: #2C2C2C;
    color: #fff;
}

.bg-1 {
    background: #36455B;
    color: #fff;
}

.bg-2 {
    background: #1CA495;
    color: #fff;
}

.bg-3 {
    background: #F6E54F;
    color: #000;
}

.bg-3 h3 {
    color: #000;
}

.bg-4 {
    background: #DD7373;
    color: #fff;
}

.bg-5 {
    background: #3B3561;
    color: #fff;
}

.bg-6 {
    background: #9055A2;
    color: #fff;
}

.bg-7 {
    background: #EAEAEA;
    color: #000;
}

.bg-7 h3 {
    color: #000;
}

.why {
    font-size: 20px;
}

p {
    font-size: 16px;
}

/* 2-color version */

.bg-c1 {
    background: #FFE473;
    color: #000;
}
.bg-c1 h3 {
    color: #000;
}


.bg-c2 {
    background: #FFE88C;
    color: #000;
}
.bg-c2 h3 {
    color: #000;
}
